{% extends "etheme/base.html" %}
{% block content %}

{% if errors %}
{% from 'etheme/macros.html' import errors_panel %}
<div class="content-small-centered">
    {{ errors_panel(errors, error_details) }}
</div>
{% endif %}

<div id="index">
    <img id="logo_block" src="{{ url_for('static', filename='img/logo-'+ preferences.get_value('etheme-style') +'@2x.svg') }}" alt="Murena logo" />
    <img id="logo_inline" src="{{ url_for('static', filename='img/logo-'+ preferences.get_value('etheme-style') +'@2x.svg') }}" alt="Murena logo" />
    {% include 'etheme/components/search.html' %}
</div>
{% endblock %}
